<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JobFinder</title>

<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

</head>
<body>

<div class="wrapper">

    <div class="glass-card">
        <h1>JobFinder</h1>
        <p>Find your dream job faster 🚀</p>

        <div class="buttons">
            <a th:href="@{/register}" class="btn primary">Get Started</a>
            <a th:href="@{/login}" class="btn secondary">Login</a>
        </div>
    </div>

</div>

</body>
</html>
